<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpProtocol>
      <customHeaders>
        <remove name="ETag" />
        <!-- Set a X-UA-Compatible header -->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <!-- Allow cross request -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <!-- remove the X-Powered-By header -->
        <remove name="X-Powered-By" />
        <!-- remove the Server header -->
        <remove name="Server" />
        <!-- Set a Cache-Control header with max-age=2678400 value -->
        <!--<add name="Cache-Control" value="max-age=2678400" />-->
      </customHeaders>
    </httpProtocol>
<rewrite>
  <rules>
      <rule name="rule 1W" stopProcessing="true">
          <match url="^sitemap\.xml$"  ignoreCase="true" />
          <action type="Rewrite" url="sitemap.php"  />
      </rule>
      <rule name="rule 2W" stopProcessing="true">
          <match url="^sitemap\.pages\.xml$"  ignoreCase="true" />
          <action type="Rewrite" url="sitemap-pages.php"  />
      </rule>
      <rule name="Imported Rule 1" stopProcessing="true">
        <match url="^(.*)$" ignoreCase="false" />
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
      </rule>
  </rules>
</rewrite>
<defaultDocument>
    <files>
        <add value="/index.php" />
    </files>
</defaultDocument>
<caching>
    <profiles>
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".ttc" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
    </profiles>
</caching>
</system.webServer>
</configuration>
